@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: #25274D;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

i {
    font-size: 8em;
}

.corTextoBranco { 
    color: white;
}

.corTextoAzulClaro {
    color: #2E9CCA;
}

.flexContainer {
    margin: 10px;
    padding: 8px 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.littleFlexContainer {
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;  
    align-items: center;  
}

.elementos {
    background-color: rgb(41, 100, 138);
    color: white;
}

.containerProjetos {
    height: 180px;
    width: 300px;
}

#foto {
    border-radius: 50% 50%;
}